<div class="row">
  <div class="col-md-3 col-4">
    <div class="list-group">
      <ng-container *ngFor="let user of users">
        <a [routerLink]="['/chat', user.id]" class="list-group-item list-group-item-action">
          <app-chat-user [user]="user"></app-chat-user>
        </a>
      </ng-container>
    </div>
  </div>

  <div class="col">
    <ng-container *ngIf="(activatedRoute.params | async).receiverId; else elseBlock">
      <app-chat-content [messages]="messages"></app-chat-content>

      <div class="row">
        <form [formGroup]="messageForm" (ngSubmit)="onSubmitMessage()">
          <div class="form-group">
            <input [formControl]="messageInput" type="text" class="form-control" id="message" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </ng-container>

    <ng-template #elseBlock>
      Nothing to show
    </ng-template>
  </div>
</div>
