<div nz-row class="full-height">
  <div nz-col nzSpan="6" class="full-height overflow-auto">
    <!-- left part with all the users -->
    <ng-container *ngIf="users?.length !== 0; else noUsersFound">
      <nz-list nzBordered [nzLoading]="false">
        <nz-list-item *ngFor="let user of users" [routerLink]="['/chat', user.roomId]" >
          <nz-list-item-meta
            nzAvatar="https://www.w3schools.com/w3images/avatar2.png"
            [nzDescription]="user.username"
          >
            <nz-list-item-meta-title>
              <a (click)="onCuttingClicked($event)">Bouture de Ficus Elastica</a>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </ng-container>

    <ng-template #noUsersFound>
      <p>No conversation has been found</p>
    </ng-template>

  </div>

  <div nz-col nzSpan="18" class="full-height chat-user">
    <router-outlet></router-outlet>
  </div>
</div>
