<nz-table 
  #nzTable
  [nzData]="cuttings.items"
  [nzTotal]="cuttings.count"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzFrontPagination]="false"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>Nom</th>
      <th>Creation</th>
      <th>Echange avec</th>
      <th>Propriétaire</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td
          [nzExpand]="expandSet.has(data.id)"
          (nzExpandChange)="onExpandChange(data.id, $event)"
          [nzShowExpand]="data.description"
        ></td>
        <td>{{data.name}}</td>
        <td>{{data.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{data.tradeWith}}</td>
        <td>{{data.owner?.username}}</td>
        <td>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Êtes-vous sûr de supprimer cette bouture ?"
            (nzOnConfirm)="deleteCutting(data.id)"
          >Supprimer</a>
        </td>
      </tr>

      <tr [nzExpand]="expandSet.has(data.id)">
        {{ data.description }}
      </tr>
    </ng-container>
  </tbody>
</nz-table>
