<div nz-row>
  <div nz-col nzOffset="10" nzSpan="4">
    <h1>Create Cuttings</h1>
  </div>
  <div nz-col nzOffset="10" nzSpan="4">
    <form nz-form nzLayout="vertical" [formGroup]="createCuttingForm" class="create-cutting-form" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <input formControlName="nameInput" type="text" id="name" nz-input placeholder="name" />
          <ng-template #nameErrorTpl>
            <ng-container *ngIf="createCuttingForm.get('nameInput').hasError('required')">
              Please input a cutting name !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="description" nzRequired>Description</nz-form-label>
        <nz-form-control [nzErrorTip]="descriptionErrorTpl">
          <textarea rows="3" nz-input formControlName="descriptionInput" id="description" nz-input></textarea>
          <ng-template #descriptionErrorTpl>
            <ng-container *ngIf="createCuttingForm.get('descriptionInput').hasError('required')">
              Please input a cutting description !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="tradeWith">Trade with</nz-form-label>
        <nz-form-control [nzErrorTip]="tradeWithErrorTpl">
          <input formControlName="tradeWithInput" type="text" id="tradeWith" nz-input />
          <ng-template #tradeWithErrorTpl>
            <ng-container *ngIf="createCuttingForm.get('tradeWithInput').hasError('required')">
              Please input a trade with !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row>
        <nz-form-control>
          <button nz-button nzType="primary" [nzLoading]="btnLoading">Créer</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
