<div nz-col [nzSpan]="14" [nzOffset]="5">
	<markdown ngPreserveWhitespaces>
		# Propriété

		Le site leafer-website-prod.herokuapp.com, ainsi que ses sous-sites sont édités par la société Leafer.


		# Mentions légales & Conditions générales d’utilisation

		---

		## Préambule

		- Le Site désigne le site internet leafer-website-prod.herokuapp.com édité par la société Leafer.
		- Le terme Utilisateur désigne l’ensemble des internautes, inscrits ou non, qui naviguent sur le site.
		- Le terme Client désigne l’ensemble des internautes connectés sur le site Leafer.


		## Article 1 : Champ d’application

		Les présentes Conditions Générales d’Utilisation régissent les relations contractuelles entre tout Utilisateur du Site.

		L’Utilisateur est invité à lire avec la plus grande attention le présent document et de renouveler sa lecture à chaque fois qu’il consulte le Site.
		En effet, l’utilisation du Site constitue son acceptation des dites conditions générales d’utilisations.
		À cet égard, pour toute question concernant le Site, vous pouvez contacter le webmaster à leaferinc@gmail.com.

		Les conditions générales présentées ici peuvent être modifiées afin de prendre en compte des changements liés à la législation française ou la modification de logiciels du site. Une consultation de ces Conditions Générales d’Utilisation doit donc être réalisée régulièrement par l’Utilisateur.


		## Article 2 : Droit de propriété intellectuelle

		La Société Editrice du site leafer-website-prod.herokuapp.com est le propriétaire exclusif de tous les droits de propriété intellectuelle portant tant sur la structure que sur le contenu du Site.

		Tous les éléments figurant sur le présent Site (images, bases de données, marques, illustrations, logos, dessins, modèles, mise en page, documents téléchargeables) sont protégés en tant qu’œuvres de l’esprit par la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Sauf autorisation préalable et écrite, toute reproduction, représentation, adaptation, modification partielle ou intégrale de tout élément composant le Site, par quelque moyen que ce soit, est interdite sous peine de poursuite judiciaire.

		Toute utilisation dans un cadre professionnel ou commercial ou toute commercialisation de ce contenu auprès de tiers est interdite, sauf accord exprès de la Société Leafer.


		## Article 3 : Responsabilité

		Les services proposés sont conformes à la législation française en vigueur. Les photographies et les textes reproduits et illustrant les produits et services présentés ne sont pas contractuels. En conséquence, la responsabilité de la société Leafer ne saurait être engagée en cas d’erreur dans l’une de ces photographies ou l’un de ces textes.

		Les éventuels liens figurant dans le Site et renvoyant vers des sites externes sont fournis à titre informatif. Leafer ne saurait être tenue pour responsable du contenu de ces sites externes référencés.


		# Informations nominatives et données personnelles

		***

		Leafer s’engage à respecter la réglementation en vigueur applicable au traitement de données à caractère personnel et, en particulier, le règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018 (ci-après, « le règlement européen sur la protection des données » ou RGPD).


		## Article 1 : Données personnelles

		Leafer traite uniquement les données à caractère personnel de ses clients.

		Ces données correspondent aux données fournies lors demandes de contact depuis notre site : Coordonnées de la personne morale : leaferinc@gmail.com.

		Ces données font l’objet d’un traitement qui a pour finalité de permettre à l’Utilisateur :
		- de se créer un espace Client,
		- de créer et consulter le suivi de ses demandes,
		- d’accéder à ses services,
		- d’être contacté par notre service.


		Les finalités du traitement par Leafer sont la prise de contact (Contact email) afin de fournir les informations nécessaires à la bonne exécution des services (échanges de boutures).
		Ces données personnelles peuvent être également utilisées par la société Leafer en vue d’informations promotionnelles ou événementielles.


		### Droit d’accès et de rectification

		Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée par la loi du 6 août 2004, l’utilisateur dispose du droit d’accès, de modification des informations qui le concernent. Les clients de Leafer disposent d’un droit d’accès et de rectification aux données les concernant.

		Pour cela il vous suffit d’accéder à votre profil pour modifier vos informations personnelles. Vous pouvez également nous demander la suppression complète de vos données en sélectionnant l'option de suppression sur la page de votre profil.


		### Périodes de conservation

		Les données personnelles citées ci-dessus sont conservées aussi longtemps que nécessaire pour le traitement des commandes. Ces données seront conservées pour une durée maximale d'un an. Les données seront ensuite supprimées, à moins qu’il n’existe une obligation légale qui exige une conservation plus longue (comme l’obligation de tenir des registres financiers pendant sept ans pour les données de paiement).


		### Responsabilité

		Leafer décline toute responsabilité en cas de transmission volontaire ou involontaire par l’Utilisateur à un tiers des codes d’accès qu’il lui appartient de conserver en lieu sûr et dont l’utilisation par un tiers pourrait entrainer la divulgation, l’altération ou la suppression des données personnelles de l’Utilisateur.

		Leafer s’engage à garantir la confidentialité des données à caractère personnel et veiller à ce que les personnes autorisées à traiter les données à caractère personnel :
		- S’engagent à respecter la confidentialité ou soient soumises à une obligation légale appropriée de confidentialité ;
		- Reçoivent la formation nécessaire en matière de protection des données à caractère personnel ;
		- Prennent en compte les principes de protection des données par défaut.


		### Sécurité des données

		De plus, Leafer a appliqué certaines pratiques afin de sécuriser les données :
		- Les données de nos Utilisateurs sont stockées exclusivement en France ou dans l’Union Européenne,
		- Les serveurs que nous utilisons sont situés dans des data center certifiés par les normes environnementales (ISO 14001), de qualité (ISO 9001) et de sécurité de l’information (ISO 27001),
		- L’infrastructure hardware et software sur laquelle les sites sont hébergés est conçue pour garantir une sécurité absolue des données (antivirus, switchs, routeurs, serveurs et firewalls redondants).


		## Article 2 : Cookies

		Lorsque vous consultez les sites de Leafer, des données de trafic et des fichiers de cookies sont stockées sur votre ordinateur aux fins de procéder, en interne, à des analyses de fréquentation des pages d’informations du Site afin d’en améliorer le contenu ainsi qu’à établir des données statistiques (pages consultées, heures de consultation, etc…).
		Vous pouvez gérer les paramètres d’enregistrement de cookies à partir de vos navigateurs.


		# Crédits du site

		---

		Hébergement du site par Heroku
	</markdown>
</div>