<form class="form-inline">
	<div class="form-group row">
		<label class="col-form-label col-sm-2 col-md-3" for="search">Recherche&nbsp;</label>
		<div class="col-sm-10 col-md-8 col-lg-6">
			<input type="text" class="form-control" name="search" [(ngModel)]="filter" />
		</div>
	</div>
</form>
<br/>

<h1>À venir</h1>

<div class="row" *ngFor="let event of events | eventFilter:filter">
	<app-event-card class="col-sm-6 col-md-4 col-lg-3" [event]="event"></app-event-card>
</div>

<button class="btn-float" routerLink="/events/create"><i class="fas fa-plus"></i></button>