<div nz-row>
  <div nz-col nz-row [nzSpan]="12" id="left-content">
    <div nz-row><h2>À venir</h2></div>
    <div nz-row>
      <div nz-col [nzSpan]="6" *ngFor="let event of incomingEvents | eventFilter: filter" class="card">
        <app-event-card [event]="event"></app-event-card>
      </div>
      <div nz-col *ngIf="incomingEvents.length === 0" class="not-found">
        Aucun évènement trouvé
      </div>
    </div>
  </div>

  <div nz-col [nzSpan]="12" nz-row id="right-content">
    <div nz-row>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input [(ngModel)]="filter" type="text" nz-input placeholder="Recherche" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div nz-col>
      <div nz-row>
        <h2>Je participe</h2>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="6" *ngFor="let event of joinedEvents | eventFilter: filter" class="card">
          <app-event-card [event]="event"></app-event-card>
        </div>
        <div nz-col *ngIf="joinedEvents.length === 0" class="not-found">
          Aucun évènement trouvé
        </div>
      </div>
    </div>

    <div nz-col>
      <div nz-row>
        <h2>Tous les évènements</h2>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="6" *ngFor="let event of allEvents | eventFilter: filter" class="card">
          <app-event-card [event]="event"></app-event-card>
        </div>
        <div nz-col *ngIf="allEvents.length === 0" class="not-found">
          Aucun évènement trouvé
        </div>
      </div>
    </div>
  </div>
</div>
