
<div nz-row>
  <div nz-col nzOffset="10" nzSpan="4">
    <h1>Login</h1>
  </div>
  <div nz-col nzOffset="10" nzSpan="4">
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="usernameErrorTpl">
          <nz-input-group nzPrefixIcon="user">
            <input
              [formControl]="usernameInput"
              type="text"
              nz-input
              placeholder="Nom d'utilisateur"
              autocomplete="on"
            />
            <ng-template #usernameErrorTpl>
              <ng-container *ngIf="usernameInput.hasError('required')">
                Veuillez entrer un nom d'utilisateur !
              </ng-container>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              [formControl]="passwordInput"
              type="password"
              nz-input
              placeholder="Mot de passe"
              autocomplete="on"
            />
            <ng-template #passwordErrorTpl>
              <ng-container *ngIf="passwordInput.hasError('required')">
                Veuillez entrer un mot de passe !
              </ng-container>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="loginIsLoading">Se connecter</button>
      Ou <a [routerLink]="['/register']"> créer un compte</a>
    </form>
  </div>
</div>
