<div nz-col [nzSpan]="16" [nzOffset]="4" *ngIf="user">
	<div nz-row>
		<h2>Profil de {{user.username}}</h2>
	</div>
	<div nz-row class="avatar">
		<img *ngIf="user.picture" [src]="'data:image/jpg;base64,' + user.picture" alt="Avatar de l'utilisateur" />
		<img *ngIf="!user.picture" src="assets/images/user.png" alt="Avatar de l'utilisateur" />
	</div>
	<div nz-row>
		<p>Pseudo&nbsp;:&nbsp;{{user.username}}</p>
	</div>
	<div nz-row>
		<p>Email&nbsp;:&nbsp;{{user.email}}</p>
	</div>
	<div nz-row>
		<p>Prénom&nbsp;:&nbsp;{{user.firstname}}</p>
	</div>
	<div nz-row>
		<p>Nom&nbsp;:&nbsp;{{user.lastname}}</p>
	</div>
	<div nz-row>
		<p>Naissance&nbsp;:&nbsp;<span [class.undefined]="!user.birthdate">{{user.birthdate ? (user.birthdate | date:'d MMM y') : 'Non renseigné'}}</span></p>
	</div>
	<div nz-row>
		<p>Lieu&nbsp;:&nbsp;<span [class.undefined]="!user.location">{{user.location ? user.location : 'Non renseigné'}}</span></p>
	</div>
	<div nz-row>
		<p>Bio&nbsp;:&nbsp;<span [class.undefined]="!user.biography">{{user.biography ? user.biography : 'Non renseigné'}}</span></p>
	</div>
</div>