[nz-button] {
  margin-bottom: 10px;
}

nz-form-item {
  margin: 5px;
}

#informations-section, #buttons-section {
  margin: 20px 0;
}

.picture > img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}