<div nz-row id="chat-content">
  <div nz-col nzFlex="1 1 auto" class="overflow-auto">
    <ng-container *ngFor="let message of messages">
      <app-chat-message [message]="message" [leftIcon]="message.user.id !== currentUser?.id"></app-chat-message>
    </ng-container>
  </div>

  <div nz-col nzFlex="0 1 auto" id="input-message">
    <form nz-form [formGroup]="messageForm" nzLayout="inline" (ngSubmit)="onSubmitMessage()">
      <nz-form-item style="width: 500px;">
        <nz-form-control>
          <input nz-input formControlName="messageInput" type="text" />
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-control>
          <button nz-button type="submit">Envoyer</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>




<!-- <div class="d-flex flex-column">
  <ng-container *ngFor="let message of messages">
    <app-chat-message [leftIcon]="message.user.id !== currentUser.id">{{ message.message_content }}</app-chat-message>
  </ng-container>
  <div class="row">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmitMessage()">
      <div class="form-group">
        <input [formControl]="messageInput" type="text" class="form-control" id="message" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div> -->
