<nz-page-header [nzGhost]="false">
  <nz-page-header-title>Administration</nz-page-header-title>
  <nz-page-header-subtitle>LeaferInc</nz-page-header-subtitle>
  <nz-page-header-content>
    <nz-row nzType="flex" [nzGutter]="64">
      <nz-statistic nz-col nzTitle="Nombre d'utilisateur" [nzValue]="stats?.userCount"></nz-statistic>
      <nz-statistic nz-col nzTitle="Nombre de bouture" [nzValue]="stats?.cuttingCount"></nz-statistic>
      <nz-statistic nz-col nzTitle="Nombre de plantes" [nzValue]="stats?.plantCount"></nz-statistic>
      <nz-statistic nz-col nzTitle="Nombre d'évènements" [nzValue]="stats?.eventCount"></nz-statistic>
    </nz-row>
  </nz-page-header-content>
  <nz-page-header-footer>
    <nz-tabset [nzSelectedIndex]="0">
      <nz-tab nzTitle="Utilisateurs">
        <ng-template nz-tab>
          <app-user-list (deleted)="stats.userCount = stats.userCount - 1"></app-user-list>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Boutures">
        <ng-template nz-tab>
          <app-cutting-list (deleted)="stats.cuttingCount = stats.cuttingCount - 1"></app-cutting-list>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Plantes">
        <ng-template nz-tab>
          <app-plant-list (deleted)="stats.plantCount = stats.plantCount - 1"></app-plant-list>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Évènements">
        <ng-template nz-tab>
          <app-admin-event-list (deleted)="stats.eventCount = stats.eventCount - 1"></app-admin-event-list>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </nz-page-header-footer>
</nz-page-header>