<nz-layout>
  <nz-header>
    <div class="left-nav">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/">Accueil</li>
        <li nz-submenu nzTitle="Boutures">
          <ul>
            <li nz-menu-item [routerLink]="['cutting', 'create']">Publier une bouture</li>
            <li nz-menu-item [routerLink]="['cutting', 'exchange']">Echange</li>
            <li nz-menu-item [routerLink]="['cutting', 'inventory']">Inventaire</li>
            <li nz-menu-item [routerLink]="['chat']">Mes messages</li>
            <li nz-menu-item [routerLink]="['']">Mes favoris</li>
          </ul>
        </li>
        <li nz-menu-item>Fiches d'entretien</li>
        <li nz-submenu nzTitle="Evenements">
          <ul>
            <li nz-menu-item routerLink="/event/create">Créer</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="right-nav">
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-submenu nzTitle="Account" nzIcon="user">
          <ul>
            <li nz-menu-group nzTitle="Mes plantes">
              <ul>
                <li nz-menu-item>Capteur d'humidités</li>
                <li nz-menu-item>Quelles plantes pour chez moi ?</li>
              </ul>
            </li>
            <li nz-menu-group nzTitle="Généralités">
              <ul>
                <li nz-menu-item>Paramètres</li>
                <li nz-menu-item>Notifications</li>
                <li nz-menu-item>Confidentialité</li>
                <li nz-menu-item>A propos</li>
                <li nz-menu-divider></li>
                <li nz-menu-item>Se deconnecter</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content" [class.full-height]="(appService.currentFullHeight | async)">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Leafer, Inc ©2020 Design by Ant Design and Implement By Angular</nz-footer>
</nz-layout>
