@import 'src/assets/styles/_variables.scss';

nz-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
}

nz-header, .left-nav {
  display: flex;
}

.left-nav {
  align-items: center;
}

.logo {
  height: 45px;
  margin-right: 15px;

  img {
    height: 100%;
    vertical-align: unset;
  }
}

[nz-menu] {
  line-height: 64px;
}


nz-content {
  margin-top: $nav-height;
  overflow-y: auto;
  padding: 24px 24px 0 24px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
}

.min-full-height {
  min-height: 100%;
}

.full-height {
  height: 100%;
}

#notification-header {
  width: 150px;
  padding: 10px;
  line-height: normal;
  
  h3 {
    margin-bottom: 0;
  }
}

.ant-dropdown-menu-item {
  white-space: normal;
}