<nz-layout [ngClass]="(appService.currentFullHeight | async) ? 'full-height' : 'min-full-height'">
  <nz-header>
    <div class="left-nav">
      <div class="logo">
        <img src="assets/images/logo-leafer.svg" alt="Logo de l'application">
      </div>
      <ul nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/" [nzMatchRouter]="true" [nzMatchRouterExact]="true">Accueil</li>
        <li nz-submenu nzTitle="Boutures">
          <ul>
            <li nz-menu-item [routerLink]="['cutting', 'create']" [nzMatchRouter]="true">Publier une bouture</li>
            <li nz-menu-item [routerLink]="['cutting', 'exchange']" [nzMatchRouter]="true">Échanges</li>
            <li nz-menu-item [routerLink]="['cutting', 'inventory']" [nzMatchRouter]="true">Inventaire</li>
            <li nz-menu-item [routerLink]="['chat']" [nzMatchRouter]="true">Mes messages</li>
            <li nz-menu-item [routerLink]="['']" [nzDisabled]="true">Mes favoris</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Fiches d'entretien">
          <ul>
            <li nz-menu-item routerLink="/plant/create" [nzMatchRouter]="true">Créer</li>
            <li nz-menu-item routerLink="/plant/community" [nzMatchRouter]="true">Communauté</li>
            <li nz-menu-item routerLink="/plant/garden" [nzMatchRouter]="true">Mon jardin</li>
            <li nz-menu-item routerLink="/plant/manage" [nzMatchRouter]="true">Gestion</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Évènements">
          <ul>
            <li nz-menu-item routerLink="/events" [nzMatchRouter]="true" [nzMatchRouterExact]="true">Liste</li>
            <li nz-menu-item routerLink="/events/create" [nzMatchRouter]="true">Créer</li>
            <li nz-menu-group nzTitle="Recherche">
              <ul>
                <li nz-menu-item routerLink="/events/search/closest" [nzMatchRouter]="true">Proches de moi</li>
                <li nz-menu-item routerLink="/events/search/date" [nzMatchRouter]="true">Par date</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="right-nav">
      <ul *ngIf="authService.isLogged() | async" nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item [routerLink]="['premium']" [nzMatchRouter]="true">Premium</li>
        <li nz-menu-item [nzMatchRouter]="true"><i class="fas fa-bell"></i></li>
        <li *ngIf="(authService.getUserAuth() | async).user.role === 1" nz-menu-item [routerLink]="['admin']" [nzMatchRouter]="true">Moderation</li>
        <li nz-submenu nzTitle="Mon compte" nzIcon="user">
          <ul>
            <li nz-menu-item routerLink="/users/me" [nzMatchRouter]="true">Profil</li>
            <li nz-menu-group nzTitle="Mes plantes">
              <ul>
                <li nz-menu-item [nzMatchRouter]="true">Capteur d'humidité</li>
                <li nz-menu-item [nzMatchRouter]="true">Quelles plantes pour chez moi ?</li>
              </ul>
            </li>
            <li nz-menu-group nzTitle="Généralités">
              <ul>
                <li nz-menu-item routerLink="/about">À propos</li>
                <li nz-menu-divider></li>
                <li nz-menu-item (click)="logout()">Se déconnecter</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <ul *ngIf="!(authService.isLogged() | async)" nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/login" [nzMatchRouter]="true">Se connecter</li>
        <li nz-menu-item routerLink="/register" [nzMatchRouter]="true">S'enregistrer</li>
        <li nz-menu-item routerLink="/about"><i class="fas fa-question-circle"></i></li>
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content" [class.full-height]="(appService.currentFullHeight | async)">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Leafer, Inc ©2020 Design by Ant Design and Implement By Angular</nz-footer>
</nz-layout>
