<nz-layout [ngClass]="(appService.currentFullHeight | async) ? 'full-height' : 'min-full-height'">
  <nz-header>
    <div class="left-nav">
      <div class="logo">
        <img src="assets/images/logo-leafer.svg" alt="Logo de l'application">
      </div>
      <ul nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/" [nzMatchRouter]="true" [nzMatchRouterExact]="true">Accueil</li>
        <li nz-submenu nzTitle="Boutures">
          <ul>
            <li nz-menu-item [routerLink]="['cutting', 'create']" [nzMatchRouter]="true">Publier une bouture</li>
            <li nz-menu-item [routerLink]="['cutting', 'exchange']" [nzMatchRouter]="true">Échanges</li>
            <li nz-menu-item [routerLink]="['cutting', 'inventory']" [nzMatchRouter]="true">Inventaire</li>
            <li nz-menu-item [routerLink]="['chat']" [nzMatchRouter]="true">Mes messages</li>
            <li nz-menu-item [routerLink]="['']" [nzDisabled]="true">Mes favoris</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Plantes">
          <ul>
            <li nz-menu-item routerLink="/plant/create" [nzMatchRouter]="true">Créer</li>
            <li nz-menu-item routerLink="/plant/community" [nzMatchRouter]="true">Communauté</li>
            <li nz-menu-item routerLink="/plant/garden" [nzMatchRouter]="true">Mon jardin</li>
            <li nz-menu-item routerLink="/plant/manage" [nzMatchRouter]="true">Gestion</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Évènements">
          <ul>
            <li nz-menu-item routerLink="/events" [nzMatchRouter]="true" [nzMatchRouterExact]="true">Liste</li>
            <li nz-menu-item routerLink="/events/create" [nzMatchRouter]="true">Créer</li>
            <li nz-menu-group nzTitle="Recherche">
              <ul>
                <li nz-menu-item routerLink="/events/search/closest" [nzMatchRouter]="true">Proches de moi</li>
                <li nz-menu-item routerLink="/events/search/date" [nzMatchRouter]="true">Par date</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="right-nav">
      <ul *ngIf="authService.isLogged() | async" nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>
          <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight" nzTrigger="click">
            <nz-badge [nzCount]="unreadNotificationCount()">
              <i nz-icon nzType="bell" nzTheme="outline"></i>
            </nz-badge>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li id="notification-header">
                <h3>Notifications</h3>
              </li>
              <li nz-menu-divider></li>
              <div style="max-height: 500px; overflow-y: auto;">
                <ng-container *ngIf="(notificationsUser | async).length !== 0; else noNotifications">
                  <ng-container *ngFor="let notification of notificationsUser | async">
                    <li nz-menu-item [routerLink]="notification.href" (mouseenter)="onMouseEnterNotification(notification)">
                      <app-notification-item [notification]="notification"></app-notification-item>
                    </li>
                  </ng-container>
                </ng-container>

                <ng-template #noNotifications>
                  <p style="margin: 0 10px;">Il n'y a aucune notification</p>
                </ng-template>

              </div>
            </ul>
          </nz-dropdown-menu>
        </li>
        <li nz-menu-item [routerLink]="['premium']" [nzMatchRouter]="true">Premium</li>
        <li *ngIf="(authService.getUserAuth() | async).user.role === 1" nz-menu-item [routerLink]="['admin']" [nzMatchRouter]="true">Moderation</li>
        <li nz-submenu nzTitle="Mon compte" nzIcon="user">
          <ul>
            <li nz-menu-item routerLink="/users/me" [nzMatchRouter]="true">Profil</li>
            <li nz-menu-group nzTitle="Mes plantes">
              <ul>
                <li nz-menu-item [nzMatchRouter]="true" [nzDisabled]="true">Capteur d'humidité</li>
                <li nz-menu-item [nzMatchRouter]="true" [nzDisabled]="true">Quelles plantes pour chez moi ?</li>
              </ul>
            </li>
            <li nz-menu-group nzTitle="Généralités">
              <ul>
                <li nz-menu-item routerLink="/about">À propos</li>
                <li nz-menu-divider></li>
                <li nz-menu-item (click)="logout()">Se déconnecter</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <ul *ngIf="!(authService.isLogged() | async)" nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/login" [nzMatchRouter]="true">Se connecter</li>
        <li nz-menu-item routerLink="/register" [nzMatchRouter]="true">S'enregistrer</li>
        <li nz-menu-item routerLink="/about"><i class="fas fa-question-circle"></i></li>
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content" [class.full-height]="(appService.currentFullHeight | async)">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Leafer, Inc ©2020</nz-footer>
</nz-layout>
