<div *ngIf="event" class="event-card">
	<nz-card nzHoverable [nzCover]="coverTemplate" [routerLink]="['/events', event.id]">
		<nz-card-meta [nzTitle]="event.name" [nzDescription]="descriptionTemplate"></nz-card-meta>
	</nz-card>
	<ng-template #coverTemplate>
		<img *ngIf="event.picture" alt="Image de l'évènement" [src]="'data:image/jpg;base64,' + event.picture" />
		<img *ngIf="!event.picture" alt="Image de l'évènement" src="assets/images/event.jpg" />
	</ng-template>
	<ng-template #descriptionTemplate>
		<p nz-typography nzEllipsis>{{ event.location }}</p>
		<p nz-typography nzEllipsis>{{ event.startDate | date:'MM/dd/yy HH:mm' }}</p>
	</ng-template>
</div>