<nz-card [routerLink]="['/cutting', cutting.id]" nzHoverable [nzCover]="coverTemplate">
  <nz-card-meta [nzTitle]="cutting.name" [nzDescription]="descriptionTemplate"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img *ngIf="cutting.picture" alt="Image de la bouture" [src]="'data:image/jpg;base64,' + cutting.picture" />
  <img *ngIf="!cutting.picture" alt="Image de la bouture" src="assets/images/cutting.png" />
</ng-template>
<ng-template #descriptionTemplate>
  <p nz-typography nzEllipsis>{{ cutting.description }}</p>
  <p id="views_count">Vues : {{ cutting.views_count }}</p>
</ng-template>
