<nz-card [routerLink]="['/plant', plant.id]" nzHoverable [nzCover]="coverTemplate" (contextmenu)="contextMenu($event, menu)">
  <nz-card-meta [nzTitle]="plant.name"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <div class="card-image">
    <img class="photo-card" *ngIf="plant.picture" alt="Image de la plante" [src]="'data:image/jpg;base64,' + plant.picture" />
    <img class="photo-card" *ngIf="!plant.picture" alt="Image de la plante" src="assets/images/plant.jpg" />
  </div>
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="deletePlant()">Supprimer</li>
  </ul>
</nz-dropdown-menu>