<div nz-row nzJustify="center" *ngIf="!plantLoading && !plant">
  <nz-empty></nz-empty>
</div>

<div nz-row nzGutter="16" *ngIf="!plantLoading && plant">
  <div nz-col nzSpan="12">
    <nz-affix nzOffsetTop="88" class="picture">
      <img *ngIf="plant.picture" alt="Image de la plante" [src]="'data:image/jpg;base64,' + plant.picture" />
      <img *ngIf="!plant.picture" alt="Image de la plante" src="assets/images/plant.png" />
    </nz-affix>
  </div>

  <div nz-col nzSpan="12">
    <div nz-row>
      <h1 nz-typography>{{ plant?.name }}</h1>
    </div>

    <div nz-row>
      <h2 nz-typography>{{ plant?.difficulty }} d'entretien</h2>
    </div>

    <div nz-row>
      <h4 nz-typography>Environ {{ plant?.height }} cm</h4>
    </div>

    <div nz-row *ngIf="plant?.wateringFrequencySpringToSummerNumber || plant?.wateringFrequencyAutumnToWinterNumber">
      <div nz-col nzSpan="24" *ngIf="plant?.wateringFrequencySpringToSummerNumber">
        Arroser tous les {{ plant?.wateringFrequencySpringToSummerNumber }} {{ plant?.wateringFrequencySpringToSummer }} au printemps - été
      </div>
      <div nz-typography nz-col nzSpan="24" *ngIf="plant?.wateringFrequencyAutumnToWinterNumber">
        Arroser tous les {{ plant?.wateringFrequencyAutumnToWinterNumber }} {{ plant?.wateringFrequencyAutumnToWinter }} au printemps - été
      </div>
    </div>

    <div nz-row *ngIf="plant?.exposure">
      <p>
        {{ plant.exposure }}
      </p>
    </div>

    <div nz-row *ngIf="plant?.humidity">
      <p>
        {{ plant.humidity }}
      </p>
    </div>

    <div nz-row *ngIf="plant?.potting">
      <p>
        {{ plant.potting }}
      </p>
    </div>

    <div nz-row *ngIf="plant?.toxicity">
      <p>
        Toxique pour les animaux de compagnie
      </p>
    </div>

    <div nz-row>
      <button *ngIf="!plantCollection" nz-button nzType="primary" (click)="onAddPlantInCollection()">Ajouter à ma collection</button>
      <button *ngIf="plantCollection" nz-button nzType="danger" (click)="onDeletePlantInCollection()">Supprimer de ma colleciton</button>
    </div>
    
  </div>
</div>
