.chat-message {
  margin: 5px 0;
}

.text-right {
  text-align: right;
}

.message {
  display: flex;
  align-items: center;
}

.avatar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.avatar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}