
<div nz-row nzGutter="16" *ngIf="plants?.length > 0">
  <div class="title" nz-row nz-col nzSpan="24">
    <div nz-col>
      <h3 style="display: inline;">Les dernières plantes de la communauté</h3>
      <a nz-col [routerLink]="['/plant', 'community']" class="see-more">Voir plus</a>
    </div>
  </div>
  <div nz-col nzSpan="4" *ngFor="let plant of plants">
    <nz-card [routerLink]="['/plant', plant.id]" nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta [nzTitle]="plant.name"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <div class="card-image">
        <img class="photo-card" *ngIf="plant.picture" alt="Image de la plante" [src]="'data:image/jpg;base64,' + plant.picture" />
        <img class="photo-card" *ngIf="!plant.picture" alt="Image de la plante" src="assets/images/plant.jpg" />
      </div>
    </ng-template>
  </div>
</div>


<div nz-row *ngIf="cuttings?.length > 0">
  <div class="title" nz-row nz-col nzSpan="24">
    <div nz-col>
      <h3 style="display: inline;">Les dernières boutures de la communauté</h3>
      <a nz-col [routerLink]="['/cutting', 'exchange']" class="see-more">Voir plus</a>
    </div>
  </div>
  <div nz-col nzSpan="4" *ngFor="let cutting of cuttings">
    <nz-card [routerLink]="['/cutting', cutting.id]" nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta [nzTitle]="cutting.name" [nzDescription]="descriptionTemplate"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <div class="card-image">
        <img *ngIf="cutting.picture" alt="Image de la bouture" [src]="'data:image/jpg;base64,' + cutting.picture" />
        <img *ngIf="!cutting.picture" alt="Image de la bouture" src="assets/images/cutting.jpg" />
      </div>
    </ng-template>
    <ng-template #descriptionTemplate>
      <p nz-typography nzEllipsis>
        {{ cutting.description }}
      </p>
    </ng-template>
  </div>
</div>