<!-- @author ddaninthe -->

<div nz-row style="flex-direction: column;">
  <div nz-col [nzSpan]="8" [nzOffset]="8">
    <h1>Create event</h1>
  </div>
  <div nz-col [nzSpan]="8" [nzOffset]="8">
    <form nz-form novalidate [formGroup]="eventForm" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="nameErrorTpl">
          <input formControlName="name" type="text" name="name" nz-input placeholder="name" />
          <ng-template #nameErrorTpl>
            <ng-container *ngIf="eventForm.get('name').hasError('required')">
              Please input your name !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="description">Description</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="descriptionErrorTpl">
          <textarea
            rows="3"
            nz-input
            formControlName="description"
            name="description"
            nz-input
            placeholder="Description détaillée de l'évènement"
          ></textarea>
          <ng-template #descriptionErrorTpl>
            <ng-container *ngIf="eventForm.get('description').hasError('required')">
              Please input a description !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="location">Location</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="locationErrorTpl">
          <!-- <input formControlName="location" type="text" name="location" nz-input /> -->
          <input nz-input placeholder="input here" (input)="getLocations($event.target?.value)" [nzAutocomplete]="auto" />
          <nz-autocomplete [nzDataSource]="locations" nzBackfill #auto></nz-autocomplete>
          <ng-template #locationErrorTpl>
            <ng-container *ngIf="eventForm.get('location').hasError('required')">
              Please input a location !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="startDate">Start Date</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="startDateErrorTpl">
          <input
            formControlName="startDate"
            type="datetime-local"
            name="startDate"
            nz-input
            placeholder="jj-mm-aaaa hh:mm"
          />
          <ng-template #startDateErrorTpl>
            <ng-container *ngIf="eventForm.get('startDate').hasError('required')">
              Please input a start date !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="endDate">End Date</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="endDateErrorTpl">
          <input
            formControlName="endDate"
            type="datetime-local"
            name="endDate"
            nz-input
            placeholder="jj-mm-aaaa hh:mm"
          />
          <ng-template #endDateErrorTpl>
            <ng-container *ngIf="eventForm.get('endDate').hasError('required')">
              Please input an end date !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="endDate">Date</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="endDateErrorTpl">
          <nz-range-picker></nz-range-picker>
          <ng-template #endDateErrorTpl>
            <ng-container *ngIf="eventForm.get('endDate').hasError('required')">
              Please input a date !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="price">Price</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="priceErrorTpl">
          <!-- <input formControlName="price" type="number" name="price" nz-input placeholder="Price" /> -->
          <nz-input-number formControlName="price" [nzMin]="0" [nzStep]="1"></nz-input-number>
          <ng-template #priceErrorTpl>
            <ng-container *ngIf="eventForm.get('price').hasError('required')">
              Please input a price !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="maxPeople">Max people</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="maxPeopleErrorTpl">
          <!-- <input formControlName="maxPeople" type="number" name="maxPeople" nz-input /> -->
          <nz-input-number formControlName="maxPeople" [nzMin]="1" [nzStep]="1"></nz-input-number>
          <ng-template #maxPeopleErrorTpl>
            <ng-container *ngIf="eventForm.get('maxPeople').hasError('required')">
              Please input a max people !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row>
        <nz-form-control>
          <button nz-button nzType="primary">Ajouter</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
