.picture {
	max-height: 250px;
	max-width: 350px;
	margin: 10px;
}

.picture > img {
	max-height: 250px;
	max-width: 350px;
    object-position: center; /* Center the image within the element */
	height: auto;
	width: auto;
}