<div *ngIf="event" class="offset-md-1 offset-lg-2 offset-xl-3">
	<div class="row">
		<img src="../../../../../assets/images/event-temp.jpg" alt="Picture of the event">
	</div>
	<div class="row">
		<h3>{{event.name}}</h3>
	</div>
	<div class="row">
		<h6><i class="fas fa-map-marker-alt"></i> {{event.location}}</h6>
	</div>
	<div class="row">
		{{event.description}}
	</div>
	<div class="row">
		<span class="font-weight-bold">Début:</span>&nbsp;{{event.startDate | date:'medium'}}
	</div>
	<div class="row">
		<span class="font-weight-bold">Fin:</span>&nbsp;{{event.endDate | date:'medium'}}
	</div>
	<br />
	<div class="row">
		<button *ngIf="!event.joined" class="btn btn-success" (click)="participate()" [disabled]="querying">
			<span *ngIf="querying"><i class="fas fa-spinner fa-spin"></i>&nbsp;</span>Participer
		</button>
		<button *ngIf="event.joined" class="btn btn-warning" (click)="leave()" [disabled]="querying">
			<span *ngIf="querying"><i class="fas fa-spinner fa-spin"></i></span>Ne plus participer
		</button>
	</div>
</div>