<div nz-row>
  <h2 nz-col nzOffset="8" nzSpan="8">Fiches de plante</h2>
</div>

<div nz-row>
  <div nz-col nzOffset="8" nzSpan="8">
    <form nz-form [formGroup]="searchForm">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input nz-input formControlName="searchInput" type="text" placeholder="Recherche" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </form>
  </div>
</div>

<ng-container *ngIf="plants?.items">
  <ng-container *ngIf="plants?.items?.length !== 0">
    <nz-spin [nzSpinning]="loading" nzTip="Loading...">
      <div nz-row [nzGutter]="[16, 16]" class="plant-list">
        <ng-container *ngFor="let plant of plants?.items">
            <app-plant-card nz-col [nzSpan]="4" [plant]="plant" (plantDeleted)="plantDeleted($event)"></app-plant-card>
        </ng-container>
      </div>
      <div nz-row nzJustify="center" class="pagination">
        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="plants?.count" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
      </div>
    </nz-spin>
  </ng-container>

  <ng-container *ngIf="plants?.items?.length === 0">
    <div nz-row nzJustify="center" class="no-plant">
      <p class="not-found">Aucune plante trouvée</p>
    </div>
  </ng-container>
</ng-container>
