<form novalidate [formGroup]="eventForm" (ngSubmit)="submit()">
	<div class="form-group row">
		<label class="col-form-label col-sm-2" for="name">Nom: </label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" formControlName="name" />
			<span *ngIf="eventForm.get('name').errors?.required">*</span>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-sm-2" for="description">Description: </label>
		<div class="col-sm-10">
			<textarea class="form-control" name="description" formControlName="description"></textarea>
			<span *ngIf="eventForm.get('description').errors?.required">*</span>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-sm-2" for="location">Lieu: </label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="location" formControlName="location" />
			<span *ngIf="eventForm.get('location').errors?.required">*</span>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-sm-2" for="price">Prix: </label>
		<div class="col-sm-10">
			<input type="number" class="form-control" name="price" formControlName="price" />
			<span *ngIf="eventForm.get('price').errors?.required">*</span>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-form-label col-sm-2" for="maxPeople">Capacité: </label>
		<div class="col-sm-10">
			<input type="number" class="form-control" name="maxPeople" formControlName="maxPeople" />
			<span *ngIf="eventForm.get('maxPeople').errors?.required">*</span>
		</div>
	</div>
	<button class="btn btn-primary" [disabled]="eventForm.invalid || sending">Ajouter</button>
</form>