/* You can add global styles to this file, and also import other style files */

/************************************************
**!!! USE THIS FILE ONLY FOR GLOBAL PURPOSE !!!**
**              PREFER SCOPED CSS              **
************************************************/

.not-found {
	font-style: italic;
	color: #696969;
	text-align: center;
	padding: 10px;
}