<div class="row align-items-center">

  <div class="col flex-shrink-1 flex-grow-0">
    <img src="https://www.w3schools.com/w3images/avatar2.png" class="rounded-circle" style="width: 50px;"/>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <h5>{{ user.username }}</h5>
      </div>
      <div class="col flex-grow-0 flex-shrink-1" style="white-space: nowrap;">
        <small>5 j</small>
      </div>
    </div>
    <div>Bouture de Monstera</div>
  </div>

</div>
