<div nz-row>
  <h2 nz-col nzOffset="8" nzSpan="8">Exchange</h2>
</div>

<div nz-row>
  <div nz-col nzOffset="8" nzSpan="8">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>

<div nz-row class="cutting-list">
  <ng-container *ngFor="let cutting of cuttings?.items">
    <!-- <div nz-col [nzSpan]="4"> -->
    <app-list-cutting-card nz-col [nzSpan]="4" [cutting]="cutting"></app-list-cutting-card>
    <!-- </div> -->
  </ng-container>
</div>
