<div nz-row>
  <h2 nz-col nzOffset="8" nzSpan="8">Exchange</h2>
</div>

<div nz-row>
  <div nz-col nzOffset="8" nzSpan="8">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>

<ng-container *ngFor="let cutting of cuttings?.items">
  <div nz-row class="cutting-list">
    <app-list-cutting-card nz-col [nzSpan]="4" [cutting]="cutting"></app-list-cutting-card>
  </div>
</ng-container>

<ng-container *ngIf="cuttings?.items?.length === 0">
  <div nz-row nzJustify="center" class="no-cutting">
    <p>No cutting found</p>
  </div>
</ng-container>
