<div nz-row>
  <h2 nz-col nzOffset="8" nzSpan="8">Exchange</h2>
</div>

<div nz-row>
  <div nz-col nzOffset="8" nzSpan="8">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Recherche" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>

<ng-container *ngIf="cuttings?.items">
  <ng-container *ngIf="cuttings?.items?.length !== 0">
    <div nz-row class="cutting-list">
      <ng-container *ngFor="let cutting of cuttings?.items">
          <app-list-cutting-card nz-col [nzSpan]="4" [cutting]="cutting" (cuttingDeleted)="cuttingDeleted($event)"></app-list-cutting-card>
      </ng-container>
    </div>
    <div nz-row nzJustify="center">
      <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="cuttings?.count" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
    </div>
  </ng-container>
  
  <ng-container *ngIf="cuttings?.items?.length === 0">
    <div nz-row nzJustify="center" class="no-cutting">
      <p class="not-found">Aucune bouture trouvée</p>
    </div>
  </ng-container>
</ng-container>
